﻿<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" asp-controller="Home" asp-action="Index">
        <i class="nav-icon icon-speedometer"></i> Dashboard
      </a>
    </li>
    <li class="nav-title">Blog</li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Posts" asp-action="Index">
        <i class="nav-icon icon-notebook"></i>
        Posts
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Users" asp-action="Index">
        <i class="nav-icon icon-people"></i>
        Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" asp-controller="Todos" asp-action="Index">
        <i class="nav-icon icon-calendar"></i>
        ToDos
      </a>
    </li>

    <li class="nav-title">Stats</li>
        <li class="nav-item">
          <a class="nav-link" asp-controller="Stats" asp-action="UserPostsCommentsCount">
            <i class="nav-icon icon-puzzle"></i>
            Comment counts
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" asp-controller="Stats" asp-action="ShortUserComments">
            <i class="nav-icon icon-puzzle"></i>
            Short comments
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" asp-controller="Stats" asp-action="CompletedUserTodos">
            <i class="nav-icon icon-puzzle"></i>
            Completed todos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" asp-controller="Stats" asp-action="AllUsersTodos">
            <i class="nav-icon icon-puzzle"></i>
            All users todos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" asp-controller="Stats" asp-action="UserStatistics">
            <i class="nav-icon icon-puzzle"></i>
            User query
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" asp-controller="Stats" asp-action="PostStatistics">
            <i class="nav-icon icon-puzzle"></i>
            Post query
          </a>
        </li>

    </li>
  </ul>
</nav>
