﻿@model Dashboard

@{
  ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <i class="icon-people"></i>
        Top users
        <div class="card-header-actions">
          @Html.ActionLink("All users", "Index", "Users", null, new { @class = "card-header-action"})
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          @foreach(var i in Model.TopUsers) {
            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                   <i class="icon-user"></i>
                    @Html.ActionLink(@i.User.Name, "Details", "Users", new {id = i.User.Id}, new { @class = "card-link"})
                </div>
                <div class="card-body p-0 d-flex align-items-center">
                  <img class="bg-info px-5 mr-3" src="@i.User.Avatar"/>
                </div>
                <div class="card-footer">
                    <i class="fa fa-thumbs-o-up"></i>
                    @i.Likes
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="icon-notebook"></i>
        Top posts
        <div class="card-header-actions">
          @Html.ActionLink("All posts", "Index", "Posts", null, new { @class = "card-header-action"})
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          @foreach(var i in Model.TopPosts) {
            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                   <i class="icon-user"></i>
                    @Html.ActionLink(@i.User.Name, "Details", "Users", new {id = i.User.Id}, new { @class = "card-link"})
                </div>
                <div class="card-body p-0 d-flex align-items-center">
                  <img class="bg-info px-5 mr-3" src="@i.User.Avatar"/>
                </div>
                <div class="card-footer justify-content-between align-items-center d-flex">
                  <span>
                    <i class="fa fa-thumbs-o-up"></i>
                    @i.Likes
                  </span>
                  @Html.ActionLink("Link", "Details", "Posts", new {id = i.Id}, new { @class = "card-link"})
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <i class="icon-calendar"></i>
        Recent todos
        <div class="card-header-actions">
          @Html.ActionLink("All todos", "Index", "Todos", null, new { @class = "card-header-action"})
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          @foreach(var i in Model.RecentTodos) {
            <div class="col-6 col-lg-3">
              <div class="card">
                <div class="card-header">
                   <i class="icon-user"></i>
                    @Html.ActionLink(@i.User.Name, "Details", "Users", new {id = i.User.Id}, new { @class = "card-link"})
                </div>
                <div class="card-body">
                  @i.Name
                </div>
                <div class="card-footer justify-content-between align-items-center d-flex">
                  @Html.ActionLink("Link", "Details", "Todos", new {id = i.Id}, new { @class = "card-link"})
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
