@model IEnumerable<(string userName, string todoName)>

@{
  ViewData["Title"] = "All users todos";
}

<div class="container-fluid">
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th>User name</th>
        <th>Todo</th>
      </tr>
    </thead>
    <tbody>

    @foreach(var r in Model) {
      <tr>
        <td>@r.userName</td>
        <td>@r.todoName</td>
      </tr>
    }

    </table>
  </table>
</div>
