@model IEnumerable<(long id, string name)>

@{
  ViewData["Title"] = "Completed user todos";
}

<div class="container-fluid">
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Todo</th>
      </tr>
    </thead>
    <tbody>

    @foreach(var r in Model) {
      <tr>
        <td>@r.id</td>
        <td>@Html.ActionLink(@r.name, "Details", "Todos", new { id = r.id })</td>
      </tr>
    }

    </table>
  </table>
</div>
