@model PostStat

@{
  ViewData["Title"] = $"Post stats";
}

<div class="containere-fluid">
  <h3>Post: @Html.ActionLink(@Model.Post.Title, "Details", "Posts", new { id = Model.Post.Id })</h3>

  <h3>Longest comment:</h3>
  @if(Model.LongestComment != null) {
    @Model.LongestComment.Body
  }

  <h3>Most liked comment</h3>
  @if(Model.MostLikedComment != null) {
    @Model.MostLikedComment.Body
  }

  <h3>Bad or short comments count: @Model.BadOrShortCommentCount</h3>
</div>
