@model IEnumerable<User>

@{
  ViewData["Title"] = "Select user";
}
<div class="card">
  <div class="card-header">
    Select user
  </div>
  <div class="card-body">
    <div class="row">
      @foreach(var u in Model) {
        <div class="col-4">
          <i class="icon-user"></i>
          <a href="?userId=@u.Id">@u.Name</a>
        </div>
      }
    </div>
  </div>
</div>
