@model IEnumerable<Post>

@{
  ViewData["Title"] = "Select post";
}
<div class="card">
  <div class="card-header">
    Select post
  </div>
  <div class="card-body">
    <div class="row">
      @foreach(var p in Model) {
        <div class="col-4">
          <i class="icon-notebook"></i>
          <a href="?postId=@p.Id">@p.Id: @p.Title</a>
        </div>
      }
    </div>
  </div>
</div>
