@model IEnumerable<(long id, string text)>

@{
  ViewData["Title"] = "Short comments";
}

<div class="container-fluid">
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Comment text</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var r in Model) {
      <tr>
        <td>@r.id</td>
        <td>@r.text</td>
      </tr>
    }
    </table>
  </table>
</div>
