@model IEnumerable<(long id, string text, int count)>

@{
  ViewData["Title"] = "Comment counts";
}

<div class="container-fluid">
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th>Post id</th>
        <th>Post text</th>
        <th>Comments count</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var r in Model) {
      <tr>
        <td>@r.id</td>
        <td>@Html.ActionLink(@r.text, "Details", "Posts", new {id = r.id})</td>
        <td>@r.count</td>
      </tr>
    }
    </table>
  </table>
</div>
