@model UserStat

@{
  ViewData["Title"] = $"{Model.User.Name} stats";
}

<div class="containere-fluid">
  <h3>User: @Html.ActionLink(@Model.User.Name, "Details", "Users", new { id = Model.User.Id })</h3>

  <h3>Last post:
    @if(Model.LastPost != null) {
      @Html.ActionLink(@Model.LastPost.Title, "Details", "Posts", new { id = Model.LastPost.Id })
    }
  </h3>

  <h3>Last post comment count: @Model.LastPostCommentsCount</h3>

  <h3>Most popular post:
    @if(Model.MostPopularPost != null) {
      @Html.ActionLink(@Model.MostPopularPost.Title, "Details", "Posts", new { id = Model.MostPopularPost.Id })
    }
  </h3>

  <h3>Most liked post:
    @if(Model.MostLikedPost != null) {
      @Html.ActionLink(@Model.MostLikedPost.Title, "Details", "Posts", new { id = Model.MostLikedPost.Id })
    }
  </h3>

  <h3>Active tasks: @Model.ActiveTasksCount</h3>
</div>
