@model User

@functions {
  string mkAddress(Address addr) {
    if(addr == null)
      return "no address";
    else
      return $"{addr.Country}";
  }
}
@if(@Model != null) {
<div class="card">
  <img class="card-img-top rounded" src="@Model.Avatar" alt="Avatar">
  <div class="card-body">
    <h5 class="card-title">
      @Html.ActionLink(@Model.Name, "Details", new {id = Model.Id})
    </h5>
    <p class="card-text">@mkAddress(@Model?.Address)</p>
  </div>
  <div class="card-footer">
    @Html.ActionLink("User posts", "Index", "Posts", new {userId = Model.Id}, new {@class = "card-link"})
    @Html.ActionLink("User todos", "Index", "Todos", new {userId = Model.Id}, new {@class = "card-link"})
  </div>
</div>
}
