@model User

@{
  ViewData["Title"] = Model.Name;
}

@functions {
  string mkAddress(Address addr) {
    if(addr == null)
      return "no address";
    else
      return $"{addr.Zip}, {addr.Country}, {addr.Street}";
  }
}

<div class="text-center">
  <img class="float-center rounded" src="@Model.Avatar" alt="Avatar"/>

  <div>
    <h2>@Model.Name</h2></br>
    <h6>@mkAddress(@Model?.Address)</h6>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="callout callout-info">
        <small class="text-muted">Total posts</small><br>
        <strong class="h4">@Model.Posts.Count()</strong>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="callout callout-info">
        <small class="text-muted">Total comments</small><br>
        <strong class="h4">@Model.Comments.Count()</strong>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="callout callout-success">
        <small class="text-muted">Finished todos</small><br>
        <strong class="h4">@Model.Todos.Where(t => t.IsComplete).Count()</strong>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="callout callout-danger">
        <small class="text-muted">Active todos</small><br>
        <strong class="h4">@Model.Todos.Where(t => !t.IsComplete).Count()</strong>
      </div>
    </div>
  </div>
<div/>

<div class="row text-left">
  <div class="col-sm-12 col-xl-6">
    <div class="card">
      <div class="card-header">
        <i class="icon-notebook fa-align-justify"></i>
        Posts
      </div>
      <div class="card-body">
        <ul class="list-group">
          @foreach(var p in @Model.Posts) {
          <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
            @Html.ActionLink(@p.Title, "Details", "Posts", new {id = p.Id})
            <span class="badge badge-primary badge-pill">@p.Comments.Count()</span>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-xl-6">
    <div class="card">
      <div class="card-header">
        <i class="icon-calendar fa-align-justify"></i>
        ToDos
      </div>
      <div class="card-body">
        <ul class="list-group">
          @foreach(var t in @Model.Todos) {
          <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-center">
            @Html.ActionLink(t.Name, "Details", "Todos", new {id = t.Id})
            @if(@t.IsComplete) {
              <span class="badge badge-primary badge-success">Done</span>
            }
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
