@{
  ViewData["Title"] = "Users";
}

@using static MoreLinq.Extensions.BatchExtension
@model IEnumerable<User>

@foreach(var us in @Model.Batch(4)) {
  <div class="container">
  <div class="row">
    <div class="col-sm">
      @Html.Partial("_Card", @us.FirstOrDefault())
    </div>
    <div class="col-sm">
      @Html.Partial("_Card", @us.Skip(1).FirstOrDefault())
    </div>
    <div class="col-sm">
      @Html.Partial("_Card", @us.Skip(2).FirstOrDefault())
    </div>
    <div class="col-sm">
      @Html.Partial("_Card", @us.Skip(3).FirstOrDefault())
    </div>
  </div>
</div>
}
