@model Post

@{
  ViewData["Title"] = Model.Title;
}

<div class="container">
  <div class="row">
    <div class="col"></div>

    <div class="col-6">
      <div class="card">
        <div class="card-header justify-content-between align-items-center d-flex">
          <span>@Model.Title</span>
          <span>
            <i class="icon-user"></i>
            @Html.ActionLink(@Model.User.Name, "Details", "Users", new {id = Model.User.Id})
          </span>
        </div>
        <div class="card-body">
          @Model.Body
        </div>
        <div class="card-footer justify-content-between align-items-center d-flex">
          <span>
            <i class="fa fa-thumbs-o-up"></i>
            @Model.Likes
          </span>
          <span>
            <i class="fa fa-comments-o"></i>
            @Model.Comments.Count()
          </span>
        </div>
      </div>
    </div>

    <div class="col"></div>
  </div>

@foreach(var c in Model.Comments) {
    <div class="row">
      <div class="col"></div>

      <div class="col-5">
        <div class="card-body">
          @c.Body
        </div>
        <div class="card-footer justify-content-between align-items-center d-flex">
          <span>
            <i class="icon-user"></i>
            @Html.ActionLink(@c.User.Name, "Details", "Users", new {id = c.User.Id})
          </span>
          <span>
            <i class="fa fa-thumbs-o-up"></i>
            @c.Likes
          </span>
        </div>
      </div>

      <div class="col"></div>
    </div>
}

</div>
