@model IEnumerable<Post>

@{
  ViewData["Title"] = "Posts";
}

<div class="row text-left">
  @foreach(var p in @Model) {
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <i class="icon-notebook fa-align-justify"></i>
          @Html.ActionLink(@p.Title, "Details", new { id = p.Id})
        </div>
        <div class="card-body justify-content-between align-items-center d-flex">
          <span>@p.Body</span>
          <div>
            <i class="fa fa-comments-o"></i>
            <div class="badge badge-primary badge-pill">
              @p.Comments.Count()
            </div>
          </div>
        </div>
        <div class="card-footer justify-content-between align-items-center d-flex">
          <div>
            <i class="icon-user"></i>
            @Html.ActionLink(@p.User.Name, "Details", "Users", new {id = p.User.Id})
          </div>
          <div>
            <i class="fa fa-thumbs-o-up"></i>
            @p.Likes
          </div>
        </div>
      </div>
    </div>
  }
</div>
