@model ToDo
@{
    ViewData["Title"] = Model.Name;
}

<div class="card">
  <div class="card-header">
    <span>
      <i class="icon-user"></i>
      @Html.ActionLink(@Model.User.Name, "Details", "Users", new { id = Model.UserId })
    </span>

    @if(@Model.IsComplete) {
      <span class="badge badge-success float-right">Done</span>
    } else {
      <span class="badge badge-danger float-right">Active</span>
    }

  </div>
  <div class="card-body">
    @Model.Name
  </div>
</div>
