@model IEnumerable<ToDo>

@{
  ViewData["Title"] = "ToDos";
}

<div class="row">
  @foreach(var t in Model) {
    <div class="col-6 col-sm-4 col-md-3 col-lg-4">
      <div class="card">
        <div class="card-body">
          @t.Name
          @if(t.IsComplete) {
            <span class="badge badge-success float-right">Done</span>
          } else {
            <span class="badge badge-danger float-right">Active</span>
          }
        </div>
        <div class="card-footer justify-content-between align-items-center d-flex">
          <div>
            <i class="icon-user"></i>
            @Html.ActionLink(@t.User.Name, "Details", "Users", new { id = t.UserId })
          </div>
          @Html.ActionLink("More", "Details", "Todos", new { id = t.Id }) 
        </div>
      </div>
    </div>
  }
</div>
